<body>
	<h1>Example usage:</h1>

	<p>Put the following code into your <code>onModuleLoad</code> method:</p>

	<pre>
		public void onModuleLoad() {
			SumoSelectOptions options = new Options();
			options.setPlaceholder("Select multiple items");
			options.setMultiple(true);
	
			SumoSelect sumoSelect = new SumoSelect(options);
			sumoSelect.add("Toyota", "Verso");
			sumoSelect.add("Ford", "Focus");
			sumoSelect.add("Peugeot", "407");
			sumoSelect.add("Kia", "Rio");
			sumoSelect.add("Dacia", "Logan");
	
			sumoSelect.selectItem(0);
			sumoSelect.selectItem("Peugeot");
			
			sumoSelect.addChangeHandler(new ChangeHandler() {
				
				{@literal @}Override
				public void onChange(ChangeEvent event) {
					Window.alert("Fired change event!");
				}
			});
	
			RootPanel.get("sumoSelectContainer").add(sumoSelect);
		}
	</pre>
</body>